.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.idea/
*.iml
android/local.properties
android/.gradle/
android/key.properties
*.jks
*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
*.log
